.btn-reg-ges {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.tabla-lis {
    background: rgba(250, 250, 250, 0.829);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
    width: 900px!important;
    margin-top: 50px;
}

.tabla-lis td {
    border-bottom: solid 1px;
}